<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<rewrite>
				<rules>
					<clear />
					<rule name="Block non-GET methods" stopProcessing="true">
						<match url=".*" />
						<conditions>
							<add input="{REQUEST_METHOD}" pattern="^(GET|HEAD)$" negate="true" />
						</conditions>
						<action type="CustomResponse" statusCode="405" statusReason="Method Not Allowed" statusDescription="Only GET and HEAD are supported" />
					</rule>
					<rule name="Redirect to HTTPS" stopProcessing="true">
						<match url=".*" />
						<conditions>
							<add input="{HTTPS}" pattern="off" ignoreCase="true" />
						</conditions>
						<action type="Redirect" url="https://{HTTP_HOST}/{R:0}" redirectType="Permanent" appendQueryString="false" />
					</rule>
				</rules>
			</rewrite>
			<httpProtocol>
				<customHeaders>
					<add name="Allow" value="GET, HEAD" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>

	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
		</staticContent>
	</system.webServer>
</configuration>